*{padding: 0;margin: 0;}
.dao ul{
	background: url("images/menu_bg.png") no-repeat;
	list-style-type: none;
	width:1000px;
	height:60px;	
}
.dao ul li{width:150px;
	height:60px;
	float:left;
	text-align:center;
	background-image: url("images/line.png") no-repeat right;
	margin:0px;
	font-size: 16px;
	padding:10px 0px;
}
.dao ul li a{text-decoration:none;
	display:block;
	link-height:60px;
}
.dao ul li a:hover{background-image: url("images/menu_bg1.png");
	background-position:center;
}