body{background-image: url("../images/hai.jpg");background-repeat:no-repeat;background-position: bottom center;}
.head{
	font-size: 14px;
	color:#ccc;
}
.clear{clear: both;}
.main{width:1000px;margin:0px auto;}
.main1 img{width:60px;height:60px;border:0px;}
.sou{float:right;margin:0px auto;}
.ss{border:1px solid #c00;float:left;margin-right: 5px}
.ss input{border:1px solid #c00;width:150px;height:30px}
.ss1{border:1px solid #000;color:fff;background-color: #c00;float:left;width:30px;height:30px;padding-top: 3px}
.logo{background-color: #89d4ad;height:30px;}
.banner img{width:100%;height:400px;}
.logo_list{width:1000px;margin:0px auto;} 
.logo_list ul{list-style-type: none;}
.logo_list ul li{float:left;padding:5px 20px;}
.logo_list ul li a{text-decoration:none;color:#fff;}
.logo_list a:hover{color:#c00;text-decoration: underline;}
.body{width:1000px;height:auto;margin:0px auto;}
.left{width:600px;height:auto;background-color: #fff;padding:10px;float:left;}
.right{width:350px;float:left;margin:80px 10px;}
.right img{width:250px;height:auto;}
.s{border:1px solid #ccc;width:40px;height:40px;float:left;background-color: #fff;padding:20px auto;margin:5px;}
.s1{border:1px solid #ccc;width:40px;height:40px;float:left;background-color: #fff;padding:20px auto;margin:5px;}
.s2{border:1px solid #ccc;width:40px;height:40px;float:left;background-color: #fff;padding:20px auto;margin:5px;}
.s3{border:1px solid #ccc;width:40px;height:40px;float:left;background-color: #fff;padding:20px auto;margin:5px;}
.s4{border:1px solid #ccc;width:40px;height:40px;float:left;background-color: #fff;padding:20px auto;margin:5px;}
.s5{border:1px solid #ccc;width:40px;height:40px;float:left;background-color: #fff;padding:20px auto;margin:5px;}
.s6{border:1px solid #ccc;width:40px;height:40px;float:left;background-color: #fff;padding:20px auto;margin:5px;}
.s7{border:1px solid #ccc;width:40px;height:40px;float:left;background-color: #fff;padding:20px auto;margin:5px;}
.s a{background-color: #fff;font-size:15px;text-decoration: none;color:#333;}
.s1 a{background-color: #fff;font-size:15px;text-decoration: none;color:#333;}
.s2 a{background-color: #fff;font-size:15px;text-decoration: none;color:#333;}
.s3 a{background-color: #fff;font-size:15px;text-decoration: none;color:#333;}
.s4 a{background-color: #fff;font-size:15px;text-decoration: none;color:#333;}
.s5 a{background-color: #fff;font-size:15px;text-decoration: none;color:#333;}
.s6 a{background-color: #fff;font-size:15px;text-decoration: none;color:#333;}
.s7 a{background-color: #fff;font-size:15px;text-decoration: none;color:#333;}
.last{background-color: #333;height:90px;padding-top:10px;}
.last p{text-align: center;color:#fff;}
.last a{color:#fff;}